.challenges {
  padding: 40px 20px;
  color: var(--black);
  margin: 0 auto;
}

.categoryContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.secondaryHeadline {
  text-align: center;
  font-size: var(--heading-40-size);
  font-weight: 700;
  width: 80%;
  margin: 0 auto 40px;
}

.emptyIconWrapper {
  width: 180px;
  margin: 0 auto;
}

.emptyIcon {
  width: 100%;
  height: 100%;
}

.categoryContent {
  flex: 1;
  display: grid;
  gap: 40px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.categoryGrid {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-51xl);
  background-color: var(--default-white);
  border: 1px solid var(--primary-blue-100);
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.directingArrowUpConceptIllIcon {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.title {
  font-size: var(--body-m-size);
  line-height: 22px;
}

.lifeIsBusy {
  line-height: 22px;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .challenges {
    padding: 60px 20px;
  }

  .categoryContentWrapper {
    flex-direction: row-reverse;
  }

  .emptyIconWrapper {
    flex: 0.6;
  }

  .categoryContent {
    flex: 1;
    grid-template-columns: repeat(2, 1fr);
    height: fit-content;
    /* margin: 0 20px; */
  }
}

@media screen and (min-width: 1024px) {
  .challenges {
    padding: 100px 20px;
  }

  .categoryContentWrapper {
    padding-left: 90px;
    max-height: 550px;
  }

  .emptyIcon {
    width: initial;
  }
}

@media screen and (min-width: 1560px) {
  .categoryContentWrapper {
    padding-left: 150px;
  }
}
