.content {
  padding: 60px 20px;
  color: black;
  background: url(/highangleyoungpeoplechurchpraying-1@2x.png) no-repeat center;
  background-size: cover;
}

.highAngleYoungPeopleChurchParent {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  color: white;
}

.secondaryHeadline {
  font-size: 28px;
  font-weight: 600;
}

.paragraph {
  font-size: 15px;
}

.synergize {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.signUp {
  background: transparent;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

@media screen and (min-width: 1280px) {
  .content {
    width: 94%;
    padding: 100px 50px;
  }

  .synergize {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1560px) {
  .content {
    min-width: 98%;
  }
}
