.caption {
  align-self: stretch;
  height: 20px;
  position: relative;
  letter-spacing: 3px;
  line-height: 100%;
  text-transform: uppercase;
  display: none;
}
.mainHeadline,
.secondaryHeadline {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.mainHeadline {
  height: 79px;
  font-size: var(--heading-1-m-size);
  font-weight: 800;
  color: var(--default-white);
  display: none;
}
.secondaryHeadline {
  margin: 0;
  font-size: var(--heading-40-size);
  font-weight: 700;
  font-family: inherit;
  color: var(--state-text-colour-active);
}
.paragraph,
.top {
  align-self: stretch;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.paragraph {
  position: relative;
  font-size: var(--body-l-size);
  line-height: 160%;
  color: var(--state-text-colour-active);
  padding-right: var(--padding-5xl);
}
.learnMore {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 24px;
  display: inline-block;
  min-width: 128px;
  white-space: nowrap;
}
.textContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconIconoirArrowRight {
  height: 36px;
  width: 36px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.col,
.graphLink,
.sectionText {
  display: flex;
  justify-content: flex-start;
}
.graphLink {
  flex-direction: row;
  align-items: center;
  padding: 0 var(--padding-xl) 0 0;
  gap: var(--gap-8xs);
  cursor: pointer;
  font-size: var(--text-size);
  color: var(--primary-blue-100);
}
.col,
.sectionText {
  flex-direction: column;
  align-items: flex-start;
}
.sectionText {
  align-self: stretch;
  border-radius: var(--br-11xl);
  gap: var(--gap-13xl);
  width: 90%;
}
.col {
  flex: 0.8;
}
.graphPartGraphStyle {
  align-self: stretch;
  height: 242px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.col1,
.graphContent {
  display: flex;
  justify-content: center;
}
.col1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  min-width: 512px;
  max-width: 100%;
}
.graphContent {
  /* width: 1374px; */
  flex-direction: row;
  align-items: center;
  gap: var(--gap-10xl);
  justify-content: space-between;
  width: 100%;
  max-width: 101%;
  flex-shrink: 0;
}
.graphContentWrapper {
  align-self: stretch;
  background-color: var(--default-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-74xl) 0 var(--padding-75xl) var(--padding-61xl);
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--caption-m-size);
  color: var(--purple-400);
  font-family: var(--body-xs);
}

@media screen and (max-width: 1325px) {
  .col {
    flex: 1;
  }
  .graphContent {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .mainHeadline {
    font-size: var(--font-size-39xl);
    line-height: 63px;
  }
  .secondaryHeadline {
    font-size: var(--font-size-13xl);
    line-height: 35px;
  }
  .sectionText {
    gap: var(--gap-base);
  }
  .col {
    gap: var(--gap-5xl);
  }
  .graphContentWrapper {
    padding-left: 0;
    padding-right: 0;

    box-sizing: border-box;
  }
  .col {
    padding-left: var(--padding-21xl);
  }
}
@media screen and (max-width: 450px) {
  .caption {
    font-size: var(--body-m-size);
    line-height: 16px;
  }
  .mainHeadline {
    font-size: var(--font-size-24xl);
    line-height: 48px;
  }
  .secondaryHeadline {
    font-size: var(--text-size);
    line-height: 26px;
  }
  .learnMore {
    font-size: var(--font-size-lgi);
    line-height: 19px;
  }
  .col1 {
    gap: var(--gap-5xl);
  }
  .graphContentWrapper {
    padding-top: var(--padding-41xl);
    padding-bottom: var(--padding-42xl);
    box-sizing: border-box;
  }
}
