.wrapperImageParent {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.wrapperImage {
  flex: 0.9;
  height: 100%;
  margin-top: 20px;
}

.imageIcon {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.imageContent {
  display: flex;
  flex: 1;
  border-radius: 0;
  background-color: var(--blue-gray-900);
  padding: 16px 16px;
}

.imageParagraphParent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 16px;
}

.secondaryHeadline {
  font-size: var(--text-size);
}

.paragraph {
  font-size: var(--body-m-size);
  line-height: 29px;
}

.button {
  align-self: flex-start;
  font-family: var(--body-xs);
  font-size: 0.9rem;
  /* line-height: 24px; */
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--default-white);
  white-space: nowrap;
  background-color: var(--primary-blue-100);
  outline: none;
  border: none;
  border-radius: var(--br-9xs);
  padding: 10px 20px;
}

.imageParagraph {
  padding-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .wrapperImageParent {
    height: 350px;
    flex-direction: row;
  }

  .imageContent {
    flex: 1;
    border-radius: var(--br-3xs) 0 0 var(--br-3xs);
  }

  .imageParagraphParent {
    padding-left: 20px;
    align-self: center;
  }

  .secondaryHeadline {
    font-size: var(--font-size-13xl);
  }
}

@media screen and (min-width: 1280px) {
  .wrapperImageParent {
    height: 550px;
  }

  .imageParagraphParent {
    width: 70%;
  }
}
